In [5]:
a=10
b=50
c=a+b
print(c) #c has a value of my a and b

60

In [2]:
chetan=100
print(chetan)

100

In [ ]:
# represent comment in python

# For loop

In [7]:
chetan=["joel","rishen","jaganath"]
for k in chetan:
    print(k)

joel
rishen
jaganath

In [8]:
s="letsupgrade junior"
for i in s:
    print(i)

l
e
t
s
u
p
g
r
a
d
e

j
u
n
i
o
r

In [9]:
n=[1,2,3,4]    #tuple
for k in n:    #after writing for next should be new variable to store the previous variable after in you should write previous variable which we created.
    print(k)  #space is called as indentation in python

1
2
3
4

In [10]:
chetan=["hey chetan",456,45.23]
for amongus in chetan:
    print(amongus)

hey chetan
456
45.23

In [13]:
n=[1,2,3,4,5]
for k in n:
    print(k)

1
2
3
4
5

In [ ]:
range(5)=0,1,2,3,4
range(5,9)=5,6,7,8
range(56,62)=56,57,58----61
range(100,106)=100-----105

range(1,9,2)=1,,3,,5,,7, #my range value of (1,9)
#now here 2 is called as step size
range(5,9,1)=5,6,7,8
range(2,9,3)=2,3,4,5,6,7,8

In [17]:
for z in range(5):
    print(z)

0
1
2
3
4

In [18]:
for z in range(5,9):
    print(z)

5
6
7
8

In [19]:
for z in range(5,9,2):
    print(z)

5
7

In [ ]:
#home work for chethan

Print a range value (13,56,5)

In [1]:
for z in range(5,20,2):
    print(z,end=" ,") #end will gives the output in horizontal line.

5 ,7 ,9 ,11 ,13 ,15 ,17 ,19 ,

In [13]:
#program to sum of number

sum=0
for a in range(5):   #(0,1,2,3,4)
    sum=sum+a   #3+0=3+1=4+2=6+3=9+4=13
print("sum",sum) 

#10+13=23

sum 23

In [16]:
sum
for c in range(5):   #(0,1,2,3,4)
    sum=sum+c   #3+0=3+1=4+2=6+3=9+4=13
print("sum",sum)

sum 30

In [21]:
a=4
b=9
c=4+9
print(c)

13

In [20]:
a=5
b=9
d=5+9
print(d)

14

In [22]:
print(c)

13

In [32]:
#printing the stars
#nested for

for i in range(4):                      #0,1,2,3
    for j in range(i):                  #star = 0 and q= blank
        print("$",end=" ") 
    print("\n")                              #star = 1   and q= 0th position

$

$ $

$ $ $

In [40]:
#break

favorites =["papergrid","apple","laptop","friends"]
for chetan in favorites :
    if(chetan=="laptop"):
        break     #it stops the current execution
    print(chetan)

papergrid
apple

In [1]:
#continue

games=["amongus","pubg","freefire","gta"]
for i in games:
    if(i=="pubg"):
        continue
    print(i)

amongus
freefire
gta

In [ ]:
#homework practise everycode write it by ur own and submit to my email.

In [2]:
hobbies =["editing","drawing","playing"]
for now in hobbies :
    if(now=="drawing"):
        break
    print(now)

editing

In [3]:
players=["messi","ronaldo","neymar","pele"]
for q in players :
    if(q=="neymar"):
        continue
    print(q)

messi
ronaldo
pele

In [12]:
sum=10
for c in range (5):
    sum=sum+c
print("sum",sum)

sum 20